NoteEditWidget
{
    background-color: black;
}

#visualCover
{
    background-image: url(:/qss/resources/qss/old-monitor-cover.png);
    background-repeat: repeat-xy;
}

QTextEdit
{
    color: rgb(160, 200, 160);
}

ManagingWidget QPushButton
{
    background-color: #424e06;
    border-color: #4d613d;
    color: #ffffff;
}

ManagingWidget QPushButton:pressed
{
    background-color: #a0d575;
}
