NoteEditWidget
{
    background-color: black;
}

#visualCover
{
    background-image: url(:/qss/resources/qss/old-monitor-cover.png);
    background-repeat: repeat-xy;
}

QTextEdit
{
    color: rgb(160, 200, 160);
}

ManagingWidget > QPushButton
{
    background-color: #282828;
    border-color: #C6C6C6;
    color: #C6C6C6;
}
