NoteEditWidget
{
    background-image: url(:/qss/resources/qss/white-paper.png);
    background-repeat: repeat-xy;
}

#visualCover
{
    background-image: url(:/qss/resources/qss/white-paper-cover.png);
    background-repeat: repeat-xy;
}

QTextEdit
{
    color: rgb(0, 0, 0);
}

ManagingWidget > QPushButton
{
    background-color: #F5F5F5;
    border-color: #3D3D3D;
    color: #3D3D3D;
}
