NoteEditWidget
{
    background-image: url(:/qss/resources/qss/white-paper.png);
    background-repeat: repeat-xy;
}

#visualCover
{
    background-image: url(:/qss/resources/qss/white-paper-cover.png);
    background-repeat: repeat-xy;
}

QTextEdit
{
    color: rgb(0, 0, 0);
}

ManagingWidget QPushButton
{
    background-color: #c4a54c;
    border-color: #000000;
}

ManagingWidget QPushButton:pressed
{
    background-color: #ede48e;
}
