NoteEditWidget
{
    background-image: url(:/qss/resources/qss/white-paper.png);
    background-repeat: repeat-xy;
}

#visualCover
{
    background-image: url(:/qss/resources/qss/white-paper-cover.png);
    background-repeat: repeat-xy;
}

QTextEdit
{
}
