ManagingWidget
{
	border: 1px solid blue;
}

MainWindow
{
	border: 1px solid red;
}

NoteEditWidget
{
    background-color: rgba(0, 0, 0, 20%);
}

QTextEdit
{
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid green;
}
